/* header and nav layout */

header nav {
  display: grid;
  grid-template:
    'brand'
    'sections'
    'submenu';
  grid-template-rows: 72px 70px 98px;
  align-items: center;
  gap: 0 24px;
  height: var(--nav-height);
  padding: 0;
  font-family: var(--body-font-family);
}

nav .section .default-content-wrapper {
  max-width: 1200px;
  margin:auto;
}

nav .nav-brand {
  grid-area: brand;
}

nav .nav-brand img {
  height: 40px;
  width: auto;
}

nav .nav-sections {
  grid-area: sections;
  background-color: #323232;
  font-size: 18px;
}

nav .nav-sections a:any-link {
  color: #fff;
}

nav .nav-submenu {
  grid-area: submenu;
  font-size: 12px;
}

nav .nav-submenu .default-content-wrapper {
  border-bottom: 2px solid #9D9D9D;
}

/* Nav lists */

nav .nav-sections ul,
nav .nav-submenu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .nav-sections ul > li {
  padding: 22px 12px 21px;
}

nav .nav-submenu ul > li {
  padding: 35px 15px 34px;
}