.section.related-posts-container {
  display: grid;
  grid-template-areas:
    'main side'
    'main .';
  grid-template-columns: 790px 380px;
  gap: 28px;
  align-items: start;
  max-width: 1200px;
  margin: auto;
}

.section.related-posts-container .block.related-posts {
  grid-area: side;
  background-color: #fafafa;
  padding: 30px;
  margin-top: 10px;
  font-size: 14px;
}

.section.related-posts-container .default-content-wrapper {
  grid-area: main;
}

.block.related-posts h2 {
  font-size: 15px;
}

.block.related-posts ul {
  list-style: none;
  padding: 0;
}

.block.related-posts ul > li > ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.block.related-posts a:any-link {
  color: #1c1d1e;
}

/* post widgets */
h1 + ul {
  display: grid;
  grid-template-areas:
    'date date'
    'icons print';
  grid-template-columns: 605px 180px;
  list-style: none;
  padding: 20px 0;
  align-items: center;
}

h1 + ul .icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

h1 + ul > li:nth-of-type(1) {
  grid-area: date;
  font-size: 14px;
}

h1 + ul > li:nth-of-type(2) {
  grid-area: icons;
}

h1 + ul > li:nth-of-type(3) {
  grid-area: print;
}

h1 + ul a:any-link {
  color: #1c1d1e;
}

h1 + ul > li:nth-of-type(3) a:any-link {
  color: #565656;
}

h1 + ul > li > ul {
  list-style: none;
  display: flex;
  padding: 0;
}

h1 + ul > li > ul > li {
  margin-right: 20px;
  color: #fff;
  padding: 0 10px;
}

h1 + ul > li > ul > li:nth-of-type(1) {
  background-color: #3d5b95;
}

h1 + ul > li > ul > li:nth-of-type(2) {
  background-color: #24aadd;
}

h1 + ul > li > ul > li:nth-of-type(3) {
  background-color: #d23e30;
}